#calendar-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
}
.buttons-container button {
    background-color: #8F3D4C;
    border: 1px solid #8F3D4C;
    padding: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.buttons-container button:hover {
    background-color: #8F3D4Cdd;
}

#calendar {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    align-items: center;
}
#calendar table {
    border: 1px solid #0003;
    border-radius: 3px;
    border-spacing: 0 ;
    overflow: hidden;
    background-color: #0001;
}

#calendar table th {
    background: #0001;
    padding: 1px 2px;
}
#calendar table td {
    padding: 1px 2px;
}


.available {
    background-color: #09f5 !important;
    border: 1px solid #0001;
}
.not-available {
    background-color: #f005 !important;
    border: 1px solid #0001;
}