.les_reservations{
    display:flex;
    position: relative;
  
    font-size: 20px;
}
.reservations_passees{
    border-radius: 12px;
    padding:5px 10px;
    background : #DEDDDE;
    width:30VW;
    margin: 3vh auto;
    border: solid 3px #4E1F3C;
    margin-bottom: 4px;

}
.reservations_en_cours{
    border-radius: 12px;
    padding:5px 10px;
    background : white;
    width:30VW;
    margin: 3vh auto;
    border: solid 3px black;
    margin-bottom: 4px;
    height: 500px;
}
.reservations_futures{
    border-radius: 12px;
    padding:5px 10px;
    background : #DEDDDE;
    width:30VW;
    margin: 3vh auto;
    border: solid 3px #4E1F3C;
    margin-bottom: 4px;
}
.reservation{
    border:solid 1px;
    padding:12px ;
    margin-bottom: 14px;
    border-radius: 6px;
}
.reservation:hover{
    border-radius:4px;
    margin: 3px 2px;
    padding: 15px 15px;
    background: #FFBD99;
    color: white;
}
h2 {
    text-align:center;
    text-decoration: overline;
    color:black;
}
div a {
    color : black;
    text-decoration:none;
}
.banner {
background-color: #8F3D4C;
color: #FFBD99;
padding: 20px;
text-align: center;
margin-top: 20px;
border-radius: 5px;

}

.banner h1 {
margin: 0;
font-size: 34px;
font-weight: bold;
font-family: 'Californian FB'
}

.dash {
padding : auto;
margin: 50px 1vw 20px 5vw;

}
.dash strong{
font-family: 'Californian FB';
text-decoration: underline;
color:#4E1F3C;
font-size: 25px;
font-weight: bold;
}

.dash #but{
margin-top: 10px;
background-color:#8F3D4C ;
font-size: 35px;
border-radius: 8px;
color: #FFBD99;
font-family: 'Footlight MT Light';
position:0 ;
}

.dash #butDeco {
margin-top: 10px;
background-color:#FFBD99;
font-size: 35px;
border-radius: 8px;
color: #8F3D4C ;
font-family: 'Footlight MT Light';
position:0 ;
}
.photo img{
margin-top: 50px;
position: relative;
width: 400px;
height: 260px;
margin-left: 200px;
border-radius: 15px;
border: solid 1px black;
}
#conte{
background-color: #8F3D4C;
position: absolute;
margin-top: 580px;
margin-left: 1200px;
font-size: 25px;
border-radius: 6px; 
color: #FFBD99;
font-family: 'Footlight MT Light';
}
#retour{
background-color: #8F3D4C;
position: absolute;
margin-top: 580px;
font-size: 25px;
border-radius: 6px; 
color: #FFBD99;
font-family: 'Footlight MT Light';
}

.conteneur {
display: flex;
padding: 30px 2vw 30px 2vw;
}
footer {
background-color: #666565;
padding: 20px 0;
position: relative;
height: 100px;
margin-top: 100px;
}

.footer-links ul,
.footer-social ul {
list-style: none;
padding: 0;
margin: 0;
margin-left: 100px;
}

.footer-links li,
.footer-social li {
display: inline-block;
margin-left: 100px;
margin-top: 20px;
}

.footer-links a,
.footer-social a {
text-decoration: none;
color: white;
margin-left: 100px;
}

.footer-social i {
font-size: 24px;
color: white;
margin-left: 100px;
}

p {
margin: 0;
}
.AucuneReservation {text-align:center;
    width:29vw;
    margin:auto;
    height : auto;
}
.AucuneReservation img {
    width:29vw;
    height : auto;  
}

